h1{color: darkblue;}

body {
	font-family: Arial, sans-serif;
	font-size: 16px ;
	line-height:1.6;
	background-color: #C0C0C0 ;
	text-align: left;
}


p{
	font-style:italic;
	font-weight:bold;

}

ul , ol {
	margin :10px 0;
	padding-left:20px;
}

img{
	width: 300px ;
	height: auto;
	margin-right:10px;
	border:2px solid gray;
}